@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    height: 120px;
    background: #002E5D;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    color: white;
    width: 50%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.navbar-image {
    margin-right: 20px;
}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    transition: all 600ms ease;
}

.navbar-items a:hover {
    color: #F3F2DC;
}

.navbar-items a {
    text-decoration: none;
    color: white;
}

.navbar-items a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}

.navbar-items a:nth-child(6) {
    border: 2px solid white;
    border-radius: 15px;
    padding:7px;
    font-size: 0.8em;
    margin: 0;
}

.showcase {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/showcase.jpg) center center/cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    box-sizing: border-box;
}

.showcase-card {
    background: #F3F2DC;
    width: 50%;
    display: flex;
    justify-content: center;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    margin: auto;
}

.showcase-container h1 {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 2.8em;
}

.showcase-container p {
    margin-bottom: 30px;
    font-size: 1.2em;
}

.showcase-card .box-checkin {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-checkin {
    margin: 2px;
    width: auto;
}

.box-checkin input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 5px 0 0 1px;
    width: 90%;
}

.label-checkin label {
    font-size: 0.8em;
    font-weight: bold;
}

.showcase-card .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    height: 30px;
    width: 100px;
    padding: 0 80px;
    background: #3A5361;
    color: white;
    transition: all 500ms ease;
}

.btn-primary:hover {
    cursor: pointer;
    background: #002E5D;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #002E5D;
    color: white;
}

.footer-container {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.footer-items {
    border-top: 2px solid white;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    align-items: center;
}


.footer-item {
    padding-top: 20px;
    font-size: 1.1em;
}

.footer-items {
    margin-top: 10px;
    padding-top: 20px;
}

.footer-items i {
    color: white;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 1.5em;
}

.footer-items i:hover {
    color: #F3F2DC;
}

.footer-items li:hover {
    color: #F3F2DC;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .navbar {
        display: flex;
        height: 100px;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .navbar-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
    }

    .navbar-image {
        display: none;
    }


    .navbar-items a {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-items a:nth-child(6) {
        border: none;
    }

    .showcase {
        height: 70vh;
        width: auto;
        align-items: center;
        justify-content: center;
    }

    .showcase h1 {
        font-size: 2em;
    }

    .showcase p {
        font-size: 0.8em;
    }

    .showcase-card {
        width: 85%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .showcase-card .box-checkin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .label-checkin label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1px;
        margin: 1px;
    }

    .label-checkin input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1px;
        margin: 0 1px;
    }

    .btn-primary {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .footer-container {
        width: 90%;
    }

    .footer-container h3 {
        font-size: 0.9em;
    }

    .footer-container li {
        font-size: 1em;
    }

    .footer-container i {
        font-size: 1.5em;
    }
    
    .footer-items {
        margin-right: 10px;
        flex-wrap: wrap;
    }
}